extractor/target
.vscode/launch.json
.cache
ql/test/**/*.testproj
ql/test/**/*.actual
.codeql

# Local CodeQL databases
test-projects/*-db/
test-projects/**/working/

# Platform-specific extractor binaries
teal/extractor-pack/tools/osx64/

# Local dev symlinks / deps
teal/extractor/dep/
